@charset "utf-8";

/* 초기화 파일 */

/*여백 초기화*/
html, body, 
div, span,
h1, h2, h3, h4, h5, h6,
ul, ol, li, dl, dt, dd,
p, address, blockquote, pre, cite,
form, fieldset, input, textarea, select, button, 
iframe, table, th, td {margin:0; padding:0;}

/*제목*/
h1, h2, h3, h4, h5, h6 {font-size:1em; font-weight:normal;}

/*테두리*/
table, fieldset, img {border:0 none;}

/*목록*/
ul, ol, li {list-style-type:none;}

/*테이블*/
table {border-collapse:collapse;}
caption, th {text-align:left;}
th {font-weight:normal;}

/*이미지와 폼 요소 정렬*/
img {vertical-align:top;}
label, input, select, textarea, button {vertical-align:middle;}

/*폼 요소*/
label, button {cursor:pointer;}
legend {position:absolute; font-size:0; line-height:0; height:0;}

/*텍스트*/
strong {font-weight:normal;}
em, address, cite {font-style:normal;}

/*수평선*/
hr {display:none;}