<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>common.jdbc.DBCPInitListener</listener-class>
  </listener>
   <listener>
    <listener-class>common.mybatis.MybatisApp</listener-class>
  </listener>
  <jsp-config>
  	<jsp-property-group>
  		<url-pattern>*.jsp</url-pattern>
  		<include-prelude>/WEB-INF/view/context/global_context.jspf</include-prelude>
  	</jsp-property-group>  
  </jsp-config>
  <context-param>  
    <param-name>poolConfig</param-name>
    <param-value>
			jdbcdriver=com.mysql.jdbc.Driver
			jdbcUrl=jdbc:mysql://localhost:3306/bbs2?useUnicode=true&amp;useSSL=false&amp;serverTimezone=UTC&amp;characterEncoding=utf8
			dbUser=seong
			dbPass=1234
			validationQuery=select 1
			minIdle=3
			maxTotal=30
			poolName=connectionPool
  		</param-value>
  </context-param>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>common.util.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>  
  <filter>
    <filter-name>LoginCheckFilter</filter-name>
  	<filter-class>common.util.LoginCheckFilter</filter-class> 
  	<init-param>
  		<param-name>avoidUrls</param-name>
  		<param-value>/article/list-detail.do,/article/list.do,/common/login.do,/common/logout.do
  		</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
    <filter-name>LoginCheckFilter</filter-name>    
    <url-pattern>/common/*</url-pattern>
    <url-pattern>/article/*</url-pattern>
  </filter-mapping>
  
  <servlet>
    <servlet-name>HandlerUsingURI</servlet-name>
    <servlet-class>mvc.command.HandlerUsingURI</servlet-class>
    <init-param>
      <param-name>configFile</param-name>
      <param-value>/WEB-INF/classes/Handler/commandHandlerURI.properties</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandlerUsingURI</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
</web-app>